

html, body {
    margin: 0;
    height: 100%;
    background: url("../images/contact5.jpg");   
    background-repeat: no-repeat; 
    background-size: cover;
}


.info-container {
    position: absolute;
    
    width: 50%;
    left: 25%;
    height: 33%;
    
    border-radius: 5px;    
    opacity: 0.9;
    
}


p.title {
    font-size: 2em;
    text-align: center;
}

.about {
    background-color: rgba(173, 177, 206, 0.5);
    border-radius: 10px;    

}

.links {
    
    background: rgba(173, 177, 206, 0.5);
    border-radius: 10px;   
    
    
}

a {
    text-decoration: none;
    color: black;
    
}

img {
    height: 24px;
}

#Nikola {
    top: 15%;
    background: linear-gradient(rgba(173, 177, 206, 0.3), rgba(86, 78, 119, 0.9)), url("../images/nikola_bg.JPG");
    
}


#Igor {
    top: 60%;
    background: linear-gradient(rgba(173, 177, 206, 0.3), rgba(86, 78, 119, 0.9)), url("../images/igor_bg.JPG");
}

.about {
    position: absolute;
    left: 10%;
    width: 80%;

}

.links {
    position: absolute;
    top: 60%;
    left: 10%;
}

#home {
    cursor: pointer;
    font-size: 30px;
}