

html, body {
    margin: 0;
    height: 100%;
    background-image: url(../images/bg1.JPG);
    
    
}

#app-name {
    position: absolute;
    font-size: 70px;
    left: 36%;
    top: -10%;
    color: rgb(147, 152, 221);
    opacity: 0.9;
    
    text-align: center;
}

@media screen and (max-height: 600) {
    #app-name {
        font-size: 30px;
    }
}

#login-container {
    min-height: 400px;
    min-width: 320px;
    position: absolute;
    left: 37.5%;
    top: 25%;
    height: 50%;
    width: 25%;

    border-radius: 10%;
    background-color: rgb(147, 152, 221);
    
    opacity: 0.9;


}


p {
    text-align: center;
}

#title {
    
    
    
    text-align: center;
    font-size: 35px;
    color: white;
}
#info-box {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;

}

input {
    position: relative;
    left: 15%;
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}

.field {
    text-align: center;
    color: white;
    font-size: 20px;
}

.reg {
    position: absolute;
    bottom: 15%;
    left: 12%;
    
}

#pass-icon {
    position: absolute;
    right: 5%;
    bottom: 0%;
    cursor: pointer;
}

.reg p {
    text-align: center;
    color: rgb(61, 60, 71);
}

.reg p a {
    color: white;
}



#login-btn {
    position: absolute;
    left: 45%;
    top: 65%;
    
    border-radius: 20%;
    cursor: pointer;
    
}
#login-btn:hover {
    
    animation: loginAnimation ease-in infinite 1s;
}

@keyframes loginAnimation {
    0% {
        letter-spacing: normal;

    }

    50% {
        letter-spacing: 2px;
        font-size: 1.2em;
        left: 44%;
    }
    100% {
        letter-spacing: normal;
    }
}

#go-home {
    position: absolute;

    bottom: 1%;
    width: 50px;
    
    left: 45%;
    
    
    text-align: center;
    
    border-radius: 20%;
    cursor: pointer;
}

#go-home:hover {
    animation: loginAnimation ease-in infinite 1s;
}


::-webkit-scrollbar {
    background-color: cadetblue;
    width: 10px;
    
}


